<!-- main-footer -->
      <footer class="main-footer">


        <div class="container">
          <div class="row">
            <div class="col-sm-6">
              <ul class="list-inline link-footer text-center-xs">
                    <li class=""><a href="https://empleocolombia.ml/index.php"><strong>Inicio</strong></a></li>
					<li class=""><a href="https://empleocolombia.ml/locations.php"><strong>Ubicaciones</strong></a></li>
					<li class=""><a href="https://empleocolombia.ml/categories.php"><strong>Categorias</strong></a></li>
					<li class=""><a href="https://empleocolombia.ml/about_us.php"><strong>Nosotros</strong></a></li>
					<li class=""><a href="https://empleocolombia.ml/contact.php"><strong>Contactenos</strong></a></li>
              </ul>
            </div>
            <div class="col-sm-6 ">
              <p class="text-center-xs hidden-lg hidden-md hidden-sm">Stay Connect</p>
              <div class="socials text-right text-center-xs">
				<a href="https://www.facebook.com/OfertasEmpleoColombia" target="_blank"><i class="fa fa-facebook"></i></a>
				<a href="https://twitter.com/iEmpleoColombia" target="_blank"><i class="fa fa-twitter"></i></a>
				<a href="https://plus.google.com/+EmpleoColombiaMLOfertas" target="_blank"><i class="fa fa-google-plus"></i></a>
				<a href="https://co.linkedin.com/in/empleocolombia" target="_blank"><i class="fa fa-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>
      </footer><!-- end main-footer -->

    </div><!-- end wrapper page -->




    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="//empleocolombia.ml/assets/plugins/jquery.js"></script>
    <script src="//empleocolombia.ml/assets/plugins/jquery.easing-1.3.pack.js"></script>
    <!-- jQuery Bootstrap -->
    <script src="//empleocolombia.ml/assets/plugins/bootstrap-3.3.2/js/bootstrap.min.js"></script>
    <!-- Lightbox -->
    <script src="//empleocolombia.ml/assets/plugins/magnific-popup/jquery.magnific-popup.min.js"></script>
    <!-- Theme JS -->
    <script src="//empleocolombia.ml/assets/theme/js/theme.js"></script>

    <!-- maps -->
    <script src="http://maps.googleapis.com/maps/api/js?sensor=false" type="text/javascript"></script> 
    <script src="//empleocolombia.ml/assets/plugins/gmap3.min.js"></script>
    <!-- maps single marker -->
    <script src="//empleocolombia.ml/assets/theme/js/map-detail.js"></script>

  </body>
</html>