<!DOCTYPE html>
<html>
{% include head.html %}

    {% include header.html %}

     <!-- body-content -->
      <div class="body-content clearfix" >

        <!-- blog block -->
        <div class="bg-color1 block-section">
          <div class="container">
            <div class="row">
              <div class="col-md-10 col-md-offset-1">

                <!-- blog list -->
                <div class="blog-list">

                {{ content }}

                </div><!-- end blog list -->

                <!-- pager -->
                <nav>
                  <ul class="pager">
                    <li class="previous"><a href="#" class="btn-theme btn-lg"><span aria-hidden="true">&larr;</span> Older</a></li>
                    <li class="next"><a href="#" class="btn-theme btn-lg">Newer <span aria-hidden="true">&rarr;</span></a></li>
                  </ul>
                </nav><!-- end pager -->


              </div>
            </div>
          </div>
        </div><!-- end blog block -->        
      </div><!--end body-content -->

  {% include footer.html %}
</body>
</html>
